@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    cursor: default;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: #dadada; */
}

section .recipes-container{
    width: 100%;
    padding: 20px;
}